<div id="header">
	    <h1><a href="/">All Blogs</a></h1>
	    <p class="description">all the blogs made to date</p>
	</div>
	<div id="menu">
	    <ul>
	        <li><a href="/">Home</a></li>
	        <li><a href="/myprofile">Profile</a></li>
	        <li><a href="/discover">discover</a></li>
	    </ul>
    </div>
    

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
              Logout
            </a>
          </div>
        </div>
      </nav>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h2>Welcome <span class="blogs"></span></h2>
            </div>
          </div>
        </div>