  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        <a href="https://blogger1221.herokuapp.com/" class="navbar-item">
            Home
        </a>
        <a href="https://blogger1221.herokuapp.com/getblogs" class="navbar-item">
            View Blogs
        </a>
        <a href="https://blogger1221.herokuapp.com/discover" class="navbar-item">
            Discover
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
            More
            </a>
            <div class="navbar-dropdown">
            <a href="https://blogger1221.herokuapp.com/myprofile" class="navbar-item">
                Profile
            </a>
            </div>
        </div>
        </div>
        <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
            <a href="http://localhost:8080/signup" class="button is-primary">
                <strong>Sign up</strong>
            </a>
            <a href="http://localhost:8080/login" class="button is-light">
                Log out
            </a>
            </div>
        </div>
        </div>
    </div>
    </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Make a blog!</h2>
        <form class="createBlog">
          <div class="form-group">
            <label for="blogName">name</label>
            <input type="name" class="form-control" id="name-input" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="category-Name">Category</label>
            <input type="list" class="form-control" id="category-input" placeholder="Category">
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <input type="text" class="form-control" id="content-input" placeholder="content">
          </div>
          <button type="submit" id="submit" class="btn btn-default">submit/update blog</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/createBlog.js"></script>
