<div id="cal-heatmap"></div>
	<div class="container">
		<div class="row my-4">
			<div class="col">
				<h2>jQuery - Calendar Heatmap</h2>
				<hr>
			</div>
		</div>
		<div class="row my-4">
			<div class="col">
				<div id="heatmap-1"></div>
			</div>
		</div>
		<div class="row my-4">
			<div class="col">
				<div id="heatmap-2"></div>
			</div>
		</div>
		<div class="row my-4">
			<div class="col">
				<div id="heatmap-3"></div>
			</div>
		</div>
		<div class="row my-4">
			<div class="col">
				<div id="heatmap-4"></div>
			</div>
		</div>
		<div class="row my-4">
			<div class="col">
				<div id="heatmap-5"></div>
			</div>
		</div>
	</div>
		